main .cart-game {
    width: 70rem;
    height: 29rem;
    /* background-color: rgb(236, 119, 119); */
    background-color: #FFF;
    border-radius: .625rem;

    position: relative;
}

main .cart-game .title-cart{
    margin-top: 1.5rem;
    margin-left: 1.1875rem;
}

main .cart-game .elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 68%;
}
main .cart-game .total {
    margin-top: 1rem;
    display: flex; 
    justify-content: center;
    align-items: center;
}

main .cart-game .total h2 {
    font-size: 1.5rem;
    margin-right: .5rem;
    font-weight: 500;
}

main .cart-game .total p {
    font-size: 1.5rem;
    font-weight: 300;
}

main .cart-game  button {
    width: 100%;
    border: 1px solid #e2e2e2;
    cursor: pointer;
    height: 6rem;

    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 2.1875rem;
    color: #27C383;
    font-weight: 500;
}

main .cart-game button img {
   margin-left: 1rem;
}

main .cart-game .items {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

main .cart-game .items .item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 1rem;
}

main .cart-game .items .item img {
    margin-left: 1rem;
}

main .cart-game .items .item .game-item {
    margin-left: 1rem;
    width: 33.3rem;
    width: 60%;
}

main .cart-game .items .item .game-item .game-numbers, .price-game, .type-game {
    margin-left: .5rem;
}

main .cart-game .items .item .game-item.lotofacil {
    border-left: 2px solid #7F3992;
}

main .cart-game .items .item .game-item.megasena {
    border-left: 2px solid #01AC66;
}

main .cart-game .items .item .game-item.lotomania {
    border-left: 2px solid #F79C31;
}

main .cart-game .items .item .game-item .type-game.lotomania {
    color: #F79C31;
}

main .cart-game .items .item .game-item .type-game.lotofacil {
    color: #7F3992;
}

main .cart-game .items .item .game-item .type-game.megasena {
    color: #01AC66;
}



main .cart-game .items .item .game-item .game-numbers{
    width: 100%;
    font-size: .6rem;
    font-weight: 500;
    color: #868686;
}

main .cart-game .items .item .game-item .type-game, .price-game{
    font-size: .8rem;
    font-weight: 500;
}

main .cart-game .items .item .game-item .price-game {
    color: #868686;
}

@media screen and (max-width: 1100px) {
   
    main .cart-game {
        margin-bottom: 10rem;
        width: 40rem;
        height: 30rem;
    }

}