.game-panel {
    width: 75%;
    padding-top: 1.5rem;
}
.game-panel .title-game {
    display: flex;
    align-items: center;
}

.game-panel .title-game p {
    font-size: 1.5rem;
}

.game-panel .title-game h2 {
    margin-right: .5rem;
}

.game-panel .title-game {
    margin-bottom: 2.0625rem;
}

.game-panel .choose-game p {
    font-weight: 500;
    color: #868686;
    margin-bottom: 1.8125rem;
}

.game-panel .choose-game .mode {
    margin-bottom: 2.25rem;
    display: flex;
}


/* rules */

.game-panel .rules {
    color:#868686;
    width: 80%;
    margin-bottom: 1.6875rem;
}

.game-panel .rules .title-rule {
    font-weight: 500;
}

.game-panel .rules .title-rule .text-rule {
  font-weight: 100;
}

/* numbers button */

.game-panel .game {
    width: 100%;
}

.game-panel .numbers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: .7rem;
}

.game-panel .numbers button {
    padding: .5rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    border-radius: 6.25rem;
    border: none;
    background: #ADC0C4 0% 0% no-repeat padding-box;
    color: #FFF;
    font-weight: 500;
    cursor: pointer;
}

.game-panel .numbers button.active {
   transform: scale(1.1);
   background: #76c8d8 0% 0% no-repeat padding-box;
}

/* controls */
.game-panel .controls {
    display: flex;
    justify-content: space-between;
}

.game-panel .controls button {
    padding: .5rem 2rem;
    cursor: pointer;
    background-color: #FFF;
    border: 1px solid;
    font-weight: 500;
}

.game-panel .controls .cart-button {
    display: flex;
    align-items: center;
    padding: .2rem 2rem;
    margin-right: 5%;
    color: #FFF;
}

@media screen and (max-width: 1100px) {

    .game-panel {
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .choose-game {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .rules {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .game {
        width: 100%;
     
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .game .numbers button {
        margin-right: 0;
        margin-left: 2rem;
    }

    .game .controls {
        width: 100%;
    }

    .game .controls .cart-button {
        margin-right: 0;
    }
}

@media screen and (max-width: 749px) {
    .game-panel {
        width: 100%;
    }

    .game-panel .controls {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-panel .controls button {
        padding: .3rem 1.5rem;
        font-size: .7rem;
    }

    .game-panel .controls .cart-button {
      margin-top: .4rem;
    } 
}



@media screen and (max-width: 633px) {

    .game-panel .choose-game .mode {
        flex-direction: column;
    }

    .game-panel .choose-game .mode button {
        margin-bottom: .4rem;
    }
}

@media screen and (max-width: 359px) {
    .game-panel .title-game {
        flex-direction: column;
    }
}


