@import url(./game-panel/game-panel.css);
@import url(./cart-game/cart-game.css);


main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Cart game */

@media screen and (max-width: 1173px) {
   
    main {
        flex-direction: column;
        align-items: center;
        align-items: center;
        justify-content: space-around;
        height: 80rem;
    }

}

@media screen and (max-width: 940px) {
    main {
        height: 90rem;
    }
}

@media screen and (max-width: 837px) {
    main {
        height: 100rem;
    }
}

@media screen and (max-width: 629px) {
    main {
        height: 110rem;
    }
}

@media screen and (max-width: 523px) {
    main {
        height: 120rem;
    }
}






